<!DOCTYPE html>
<html>
  <head>
    <title>AbsoluteNormalizationTry</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
      <%= link_to 'Surnames', surnames_path %>
      <%= link_to 'Names', names_path %>
      <%= link_to 'Roles', roles_path %>
      <%= link_to 'Streets', streets_path %>
      <%= link_to 'Houses', houses_path %>
      <%= link_to 'Cities', cities_path %>
      <%= link_to 'States', states_path %>
      <%= link_to 'Event Types', event_types_path %>
      <%= link_to 'Addresses', addresses_path %>
      <%= link_to 'Persons', people_path %>
      <%= link_to 'Events', events_path %>
    </nav>
    <%= yield %>
  </body>
</html>
